header.header
	nav
		div
			a(href="#", class="brand-logo") Appagar
			ul
				li
					i.material-symbols-outlined add
					a(href="") hola 
				li
					a(href="") hola

	div.menu-mobile
		.item hola
		.item hola
		.item hola
		.item hola