doctype html
html(lang="en")
	head
		include views/shared/head.pug
		
	body
		include views/shared/header.pug

		main
			section
				div.card 
				h1.h1-normal fijos
				h2.h2-medium fijos
				h3.h3-semibold fijos
				h4.h4-bold fijos
				h5.h5-semibold fijos

			p.font-body-normal Bienvenido a mi sitio web
			p.font-body-medium Bienvenido a mi sitio web
			p.font-body-semibold Bienvenido a mi sitio web
			p.font-body-bold Bienvenido a mi sitio web

			button Boton
		footer
			p Derechos reservados &copy; 2023

		script(src="js/script.js")