doctype html
html(lang="en")
	head
		include views/shared/head.pug
		
	body
		include views/shared/header.pug

		main
			include views/shared/section_home_cards.pug

		footer
			p Derechos reservados &copy; 2023

		script(src="js/script.js")