// Esta es la forma optima que por alguna razon no funciona
@each $name in $titles {
  .#{$name}{
    @each $weight in $font-weights-names {
      &-#{$weight} {
        font-weight: map-get($font-weights, $weight);
        @include rem(map-get($font-sizes, $name));
      }
    }
  }
}

@each $weight in $font-weights-names {
  .font-body {
    &-#{$weight} {
      font-weight: map-get($font-weights, $weight);
      @include rem(14);

      @media (min-width: 992px) {
        @include rem(16);
      }
    }
  }
}

.underline {
  text-decoration: underline;
}

.line-through {
  text-decoration: line-through;
}

.italic {
  font-style: italic;
}