<header class="header">
	<nav class="header__nav">
		<div class="nav__logo"><a class="brand-logo" href="#"> <strong>App</strong><span>agar</span></a></div>
		<div class="nav__action"><i class="material-symbols-outlined">add</i><i class="material-symbols-outlined">add</i></div>
	</nav>
	<div class="menu-mobile">
		<button class="menu-mobile__item menu-mobile__item--active">
			<div class="item-wrapper">
				<i class="material-symbols-outlined">home</i>
				<div class="item-wrapper__label">Home</div>
			</div>
		</button>
		<button class="menu-mobile__item">
			<div class="item-wrapper">
				<i class="material-symbols-outlined">search</i>
				<div class="item-wrapper__label">Buscar</div>
			</div>
		</button>
		<button class="menu-mobile__item">
			<div class="item-wrapper">
				<i class="material-symbols-outlined">favorite</i>
				<div class="item-wrapper__label">Favoritos</div>
			</div>
		</button>
		<button class="menu-mobile__item">
			<div class="item-wrapper">
				<i class="material-symbols-outlined">settings</i>
				<div class="item-wrapper__label">Ajustes</div>
			</div>
		</button>
	</div>
</header>