<main>
	<section class="home-cards">
		<div class="card"> 
			<div class="card__title">
				<h3 class="title__text">Fijos</h3>
				<div class="title__actions"><i class="material-symbols-outlined f0-w600-g0-o24">add</i></div>
			</div>
			<div class="card__list">
				<label class="item">
					<div>Basquet</div>
					<div class="item__right">
						<div>$1500</div>
						<div class="item__check">
							<input type="checkbox">
						</div>
					</div>
				</label>
				<label class="item">
					<div>Gimnasio</div>
					<div class="item__right">
						<div>$3800</div>
						<div class="item__check">
							<input type="checkbox">
						</div>
					</div>
				</label>
				<label class="item">
					<div>Nubenet</div>
					<div class="item__right">
						<div>$3050</div>
						<div class="item__check">
							<input type="checkbox">
						</div>
					</div>
				</label>
				<label class="item">
					<div>Claro</div>
					<div class="item__right">
						<div>$1600</div>
						<div class="item__check">
							<input type="checkbox">
						</div>
					</div>
				</label>
				<label class="item">
					<div>Seguro auto</div>
					<div class="item__right">
						<div>$4250</div>
						<div class="item__check">
							<input type="checkbox">
						</div>
					</div>
				</label>
			</div>
		</div>
		<div class="card"> 
			<div class="card__title">
				<h3 class="title__text">Cuotas</h3>
				<div class="title__actions"><i class="material-symbols-outlined f0-w600-g0-o24">add</i></div>
			</div>
			<div class="card__list">
				<label class="item">
					<div>Basquet</div>
					<div class="item__right">
						<div>$1500</div>
						<div class="item__check">
							<input type="checkbox">
						</div>
					</div>
				</label>
				<label class="item">
					<div>Gimnasio</div>
					<div class="item__right">
						<div>$3800</div>
						<div class="item__check">
							<input type="checkbox">
						</div>
					</div>
				</label>
				<label class="item">
					<div>Nubenet</div>
					<div class="item__right">
						<div>$3050</div>
						<div class="item__check">
							<input type="checkbox">
						</div>
					</div>
				</label>
				<label class="item">
					<div>Claro</div>
					<div class="item__right">
						<div>$1600</div>
						<div class="item__check">
							<input type="checkbox">
						</div>
					</div>
				</label>
				<label class="item">
					<div>Seguro auto</div>
					<div class="item__right">
						<div>$4250</div>
						<div class="item__check">
							<input type="checkbox">
						</div>
					</div>
				</label>
			</div>
		</div>
		<div class="card"> 
			<div class="card__title">
				<h3 class="title__text">Temporales</h3>
				<div class="title__actions"><i class="material-symbols-outlined f0-w600-g0-o24">add</i></div>
			</div>
			<div class="card__list">
				<label class="item">
					<div>Basquet</div>
					<div class="item__right">
						<div>$1500</div>
						<div class="item__check">
							<input type="checkbox">
						</div>
					</div>
				</label>
				<label class="item">
					<div>Gimnasio</div>
					<div class="item__right">
						<div>$3800</div>
						<div class="item__check">
							<input type="checkbox">
						</div>
					</div>
				</label>
				<label class="item">
					<div>Nubenet</div>
					<div class="item__right">
						<div>$3050</div>
						<div class="item__check">
							<input type="checkbox">
						</div>
					</div>
				</label>
				<label class="item">
					<div>Claro</div>
					<div class="item__right">
						<div>$1600</div>
						<div class="item__check">
							<input type="checkbox">
						</div>
					</div>
				</label>
				<label class="item">
					<div>Seguro auto</div>
					<div class="item__right">
						<div>$4250</div>
						<div class="item__check">
							<input type="checkbox">
						</div>
					</div>
				</label>
			</div>
		</div>
	</section>
</main>